
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<div class="container page-top">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let image of images;" routerLink="/gallery/{{image.id}}" style="cursor: pointer">
      <div class="imagebox">
        <img class="img-responsive" width="100%" src={{image.image}} >
        <span class="imagebox-desc">{{image.tittle}}</span>
      </div>
    </div>
  </div>
</div>

<ul *ngIf="loggedUser != null" class="navbar-nav">
  <div class="add">
    <a href="/admi" class="btn" role="button">Add</a>
  </div>
</ul>






